body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #de9df6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 10px;
    color: #00ffd5;
}

#board {
    width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.info {
    margin-top: 15px;
    font-size: 18px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #00ffd5;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #00c2a5;
}